# 0.0 Imports

In [2]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
import time
import pandas as pd
import numpy as np

# 1.0 Selenium Scrapping

## 1.1 Scrapping Fifa Ratings Page

In [3]:
PATH = "C:\Program Files (x86)\chromedriver.exe"
driver = webdriver.Chrome(PATH)

driver.get( "https://www.fifa.com/fifa-world-ranking/men?dateId=id13792" )

driver.set_window_size(1024, 600)
driver.maximize_window()

time.sleep(2)
try:
    element = WebDriverWait(driver, 10).until(
        EC.presence_of_element_located((By.ID, "onetrust-reject-all-handler"))
    )
    element.click()
    
    element = WebDriverWait(driver, 10).until(
        EC.presence_of_element_located((By.CLASS_NAME, "table_rankingTable__7gmVl"))
    )
    fifa_table_page1 = element.text
     
    element = WebDriverWait(driver, 10).until(
        EC.presence_of_element_located((By.XPATH, "//div[text()='2']"))
    )
    
    time.sleep(3)
    driver.execute_script("arguments[0].scrollIntoView({block: 'center'});", element)
    time.sleep(3)
    
    element.click()   

    element = WebDriverWait(driver, 5).until(
        EC.presence_of_element_located((By.CLASS_NAME, "table_rankingTable__7gmVl"))
    )
    
    fifa_table_page2 = element.text
    
    driver.quit()  
except:
    driver.quit()

## 1.2 Scrapping Elo Ratings Page

In [4]:
PATH = "C:\Program Files (x86)\chromedriver.exe"
driver = webdriver.Chrome(PATH)

driver.get( "https://www.eloratings.net/" )

driver.set_window_size(2000, 1000)
driver.maximize_window()

time.sleep(3)
search = driver.find_element_by_id("maintable_World")
elo_table = search.text

driver.quit()

### Old code

In [132]:
#PEGANDO AS TABELAS NO SITE DA FIFA
#FUNCIONA TBM, MAS O ANTERIOR EH MAIS ORGANIZADO
#ESSE FOI O PRIMEIRO USADO PARA TEST

PATH = "C:\Program Files (x86)\chromedriver.exe"
driver = webdriver.Chrome(PATH)

driver.set_window_size(2000, 1000)
driver.maximize_window()

driver.get( "https://www.fifa.com/fifa-world-ranking/men?dateId=id13792" )

time.sleep(2)
link = driver.find_element_by_id("onetrust-reject-all-handler")
link.click()

search = driver.find_element(By.CLASS_NAME, "table_rankingTable__7gmVl")
fifa_table = search.text

link2 = driver.find_element_by_xpath("//div[text()='2']")
time.sleep(3)
driver.execute_script("arguments[0].scrollIntoView({block: 'center'});", link2)
time.sleep(3)
link2.click()

search2 = driver.find_element(By.CLASS_NAME, "table_rankingTable__7gmVl")
fifa_table2 = search2.text

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":"[id="onetrust-reject-all-handler"]"}
  (Session info: chrome=107.0.5304.107)

# 3.0 Data wrangling

In [58]:
def soup(table):
    
    #cleaned_soup = BeautifulSoup( table, 'html.parser')
    cleaned_soup = str(table)
    cleaned_soup = cleaned_soup.split('\n')
    
    return cleaned_soup

## 3.1 Fifa Page Wrangling

In [59]:
fifa_ratings_page1 = soup(fifa_table_page1)
fifa_ratings_page2 = soup(fifa_table_page2)

In [60]:
del fifa_ratings_page2[:6]

In [61]:
fifa_ratings = fifa_ratings_page1
fifa_ratings.extend(fifa_ratings_page2)

In [62]:
fifa_ratings

['RK',
 'Team',
 'Total Points',
 'Previous Points',
 '+/-',
 'Positions',
 '1',
 'Brazil',
 '1841.3',
 '1837.56 3.74',
 '2',
 'Belgium',
 '1816.71',
 '1821.92 -5.21',
 '3',
 'Argentina',
 '1773.88',
 '1770.65 3.23',
 '4',
 'France',
 '1759.78',
 '1764.85 -5.07',
 '5',
 'England',
 '1728.47',
 '1737.46 -8.99',
 '6',
 'Italy',
 '1726.14',
 '1713.86 12.28',
 '7',
 'Spain',
 '1715.22',
 '1716.93 -1.71',
 '8',
 'Netherlands',
 '1694.51',
 '1679.41 15.10',
 '9',
 'Portugal',
 '1676.56',
 '1678.65 -2.09',
 '10',
 'Denmark',
 '1666.57',
 '1665.47 1.10',
 '11',
 'Germany',
 '1650.21',
 '1658.96 -8.75',
 '12',
 'Croatia',
 '1645.64',
 '1632.15 13.49',
 '13',
 'Mexico',
 '1644.89',
 '1649.57 -4.68',
 '14',
 'Uruguay',
 '1638.71',
 '1640.95 -2.24',
 '15',
 'Switzerland',
 '1635.92',
 '1621.43 14.49',
 '16',
 'USA',
 '1627.48',
 '1635.01 -7.53',
 '17',
 'Colombia',
 '1611.04',
 '1604.07 6.97',
 '18',
 'Senegal',
 '1584.38',
 '1584.59 -0.21',
 '19',
 'Wales',
 '1569.82',
 '1582.13 -12.31',
 '20',
 'IR Iran',
 '1564.61',
 '1558.64 5.97',
 '21',
 'Serbia',
 '1563.62',
 '1549.53 14.09',
 '22',
 'Morocco',
 '1563.5',
 '1558.35 5.15',
 '23',
 'Peru',
 '1561.01',
 '1562.24 -1.23',
 '24',
 'Japan',
 '1559.54',
 '1554.69 4.85',
 '25',
 'Sweden',
 '1553.33',
 '1563.44 -10.11',
 '26',
 'Poland',
 '1548.59',
 '1546.18 2.41',
 '27',
 'Ukraine',
 '1536.99',
 '1542.79 -5.80',
 '28',
 'Korea Republic',
 '1530.3',
 '1526.02 4.28',
 '29',
 'Chile',
 '1509.61',
 '1514.86 -5.25',
 '30',
 'Tunisia',
 '1507.54',
 '1507.86 -0.32',
 '31',
 'Costa Rica',
 '1503.59',
 '1500.06 3.53',
 '32',
 'Nigeria',
 '1498.47',
 '1504.7 -6.23',
 '33',
 'Russia',
 '1496.11',
 '1493.42 2.69',
 '34',
 'Austria',
 '1492.95',
 '1502.47 -9.52',
 '35',
 'Czechia',
 '1492.21',
 '1502.9 -10.69',
 '36',
 'Hungary',
 '1492.2',
 '1486.76 5.44',
 '37',
 'Algeria',
 '1489.1',
 '1480.59 8.51',
 '38',
 'Australia',
 '1488.72',
 '1483.73 4.99',
 '39',
 'Egypt',
 '1486.44',
 '1482.63 3.81',
 '40',
 'Scotland',
 '1479.53',
 '1462.96 16.57',
 '41',
 'Canada',
 '1475',
 '1473.82 1.18',
 '42',
 'Norway',
 '1473.04',
 '1488.57 -15.53',
 '43',
 'Cameroon',
 '1471.44',
 '1484.95 -13.51',
 '44',
 'Ecuador',
 '1464.39',
 '1463.74 0.65',
 '45',
 'Türkiye',
 '1460.14',
 '1475.13 -14.99',
 '46',
 'Mali',
 '1448.85',
 '1442.88 5.97',
 '47',
 'Paraguay',
 '1448.77',
 '1440.13 8.64',
 '48',
 "Côte d'Ivoire",
 '1443.06',
 '1435.91 7.15',
 '49',
 'Republic of Ireland',
 '1440.19',
 '1442.48 -2.29',
 '50',
 'Qatar',
 '1439.89',
 '1441.97 -2.08',
 '51',
 'Saudi Arabia',
 '1437.78',
 '1435.74 2.04',
 '52',
 'Greece',
 '1437.6',
 '1441.45 -3.85',
 '53',
 'Romania',
 '1434.68',
 '1427.84 6.84',
 '54',
 'Burkina Faso',
 '1432.25',
 '1425.64 6.61',
 '55',
 'Slovakia',
 '1425.59',
 '1439.99 -14.40',
 '56',
 'Finland',
 '1405.6',
 '1398.41 7.19',
 '57',
 'Venezuela',
 '1404.37',
 '1405.17 -0.80',
 '58',
 'Bosnia and Herzegovina',
 '1403.51',
 '1403.98 -0.47',
 '59',
 'Northern Ireland',
 '1396.55',
 '1399.1 -2.55',
 '60',
 'Panama',
 '1393.28',
 '1389.27 4.01',
 '61',
 'Ghana',
 '1393',
 '1393.47 -0.47',
 '62',
 'Iceland',
 '1384.41',
 '1379.61 4.80',
 '63',
 'Slovenia',
 '1384.04',
 '1372.48 11.56',
 '64',
 'Jamaica',
 '1378.86',
 '1382.06 -3.20',
 '65',
 'North Macedonia',
 '1358.51',
 '1375.2 -16.69',
 '66',
 'Albania',
 '1354.11',
 '1361.81 -7.70',
 '67',
 'South Africa',
 '1349.59',
 '1350.55 -0.96',
 '68',
 'Iraq',
 '1343.01',
 '1338.91 4.10',
 '69',
 'Montenegro',
 '1341.03',
 '1354.59 -13.56',
 '70',
 'United Arab Emirates',
 '1337.57',
 '1346.09 -8.52',
 '71',
 'Cabo Verde',
 '1336.05',
 '1331.46 4.59',
 '72',
 'Bulgaria',
 '1335.36',
 '1325.16 10.20',
 '73',
 'Congo DR',
 '1333.92',
 '1332.84 1.08',
 '74',
 'El Salvador',
 '1330.51',
 '1333.48 -2.97',
 '75',
 'Oman',
 '1320.29',
 '1323.03 -2.74',
 '76',
 'Israel',
 '1316.55',
 '1316.35 0.20',
 '77',
 'Uzbekistan',
 '1309.98',
 '1306.63 3.35',
 '78',
 'Georgia',
 '1307.34',
 '1296.46 10.88',
 '79',
 'China PR',
 '1305.06',
 '1305.06 0.00',
 '80',
 'Honduras',
 '1301.98',
 '1299.69 2.29',
 '81',
 'Gabon',
 '1301.84',
 '1301.84 0.00',
 '82',
 'Bolivia',
 '1296.28',
 '1298.81 -2.53',
 '83',
 'Guinea',
 '1290.47',
 '1294.89 -4.42',
 '84',
 'Jordan',
 '1289.99',
 '1279.74 10.25',
 '85',
 'Bahrain',
 '1280.64',
 '1289.25 -8.61',
 '86',
 'Curaçao',
 '1278.64',
 '1293.35 -14.71',
 '87',
 'Haiti',
 '1269.07',
 '1269.07 0.00',
 '88',
 'Zambia',
 '1267.41',
 '1270.8 -3.39',
 '89',
 'Uganda',
 '1260.69',
 '1264.56 -3.87',
 '90',
 'Syria',
 '1255.92',
 '1265.03 -9.11',
 '91',
 'Benin',
 '1247.47',
 '1258.71 -11.24',
 '92',
 'Luxembourg',
 '1243.8',
 '1235.36 8.44',
 '93',
 'Armenia',
 '1233.93',
 '1242.42 -8.49',
 '94',
 'Palestine',
 '1233.72',
 '1233.72 0.00',
 '95',
 'Kyrgyz Republic',
 '1230.22',
 '1232.91 -2.69',
 '96',
 'Vietnam',
 '1226.65',
 '1218.84 7.81',
 '97',
 'Belarus',
 '1221.06',
 '1226.55 -5.49',
 '98',
 'Equatorial Guinea',
 '1215.66',
 '1215.33 0.33',
 '99',
 'Lebanon',
 '1211.71',
 '1211.71 0.00',
 '100',
 'Congo',
 '1208.79',
 '1215.09 -6.30']

In [63]:
columns = fifa_ratings[:3]

rank = fifa_ratings[6::4]
teams = fifa_ratings[7::4]
pts = fifa_ratings[8::4]

In [64]:
df = pd.DataFrame(list(zip(rank, teams, pts)), columns=columns)

In [65]:
df

     RK               Team Total Points
0     1             Brazil       1841.3
1     2            Belgium      1816.71
2     3          Argentina      1773.88
3     4             France      1759.78
4     5            England      1728.47
..  ...                ...          ...
95   96            Vietnam      1226.65
96   97            Belarus      1221.06
97   98  Equatorial Guinea      1215.66
98   99            Lebanon      1211.71
99  100              Congo      1208.79

[100 rows x 3 columns]

In [66]:
df.loc[df['Team'] == 'IR Iran', 'Team'] = 'Iran'

## 3.2 Elo Wrangling

In [67]:
elo = soup(elo_table)

In [68]:
del elo[:4]

In [69]:
del elo[3:16]

In [70]:
columns_elo = elo[:3]

In [71]:
rank_elo = elo[3::16]
team_elo = elo[4::16]
rating_elo = elo[5::16]

In [72]:
df_elo = pd.DataFrame(list(zip(rank_elo, team_elo, rating_elo)), columns=columns)

In [73]:
df_elo.loc[df_elo['Team'] == 'South Korea', 'Team'] = 'Korea Republic'
df_elo.loc[df_elo['Team'] == 'United States', 'Team'] = 'USA'

## 3.3 Average Ratings Fifa / Elo

In [74]:
df['Total Points'] = df['Total Points'].astype('float64')

In [75]:
df_elo['Total Points'] = df_elo['Total Points'].astype('float64')

In [76]:
df_avg = df.merge(df_elo, how='left', on='Team')

In [77]:
df_avg2 = df_avg.drop('RK_y', axis=1)

In [78]:
df_avg2['avg_points'] = (df_avg2['Total Points_x'] + df_avg2['Total Points_y']) / 2

In [79]:
df_avg3 = df_avg2.drop(['Total Points_x', 'Total Points_y', 'RK_x'], axis=1).sort_values(by=['avg_points'], ascending=False).reset_index(drop=True)

In [80]:
df_avg4 = df_avg3.dropna()

In [81]:
df_avg4

         Team  avg_points
0      Brazil    2005.150
1   Argentina    1957.440
2     Belgium    1920.855
3      France    1882.390
4       Spain    1880.110
..        ...         ...
88      Benin    1319.735
89    Belarus    1317.530
90    Vietnam    1308.825
91    Lebanon    1274.355
92      Congo    1255.395

[93 rows x 2 columns]

In [85]:
teams_world_cup = ['Qatar', 'Ecuador', 'Senegal', 'Netherlands', 'England', 'Iran', 'USA', 'Wales', 'Argentina',
              'Saudi Arabia', 'Mexico', 'Poland', 'France', 'Australia', 'Denmark', 'Tunisia', 'Spain', 'Costa Rica',
              'Germany', 'Japan', 'Belgium', 'Canada', 'Morocco', 'Croatia', 'Brazil', 'Serbia', 'Switzerland',
              'Cameroon', 'Portugal', 'Ghana', 'Uruguay', 'Korea Republic']

In [86]:
df_teams_avg = df_avg4[df_avg4['Team'].isin(teams_world_cup)].reset_index(drop=True)
df_teams_avg['Team'] = df_teams_avg['Team'].str.lower()

In [87]:
df_teams_avg

              Team  avg_points
0           brazil    2005.150
1        argentina    1957.440
2          belgium    1920.855
3           france    1882.390
4            spain    1880.110
5      netherlands    1867.255
6         portugal    1840.280
7          england    1824.235
8          denmark    1818.785
9          germany    1805.105
10         uruguay    1787.355
11         croatia    1783.820
12     switzerland    1782.460
13          mexico    1732.945
14          serbia    1727.810
15             usa    1712.740
16            iran    1690.805
17           wales    1679.910
18          poland    1678.795
19           japan    1678.770
20         morocco    1658.250
21  korea republic    1658.150
22         ecuador    1648.695
23         senegal    1635.690
24      costa rica    1623.295
25          canada    1620.000
26       australia    1603.860
27         tunisia    1597.270
28           qatar    1559.945
29        cameroon    1540.220
30    saudi arabia    1538.890
31           ghana    1466.500

In [88]:
df_teams_avg.to_csv('ratings_world_cup_2022.csv')

In [89]:
games_22 = pd.read_csv('world_cup_games_2022.csv')

In [90]:
games_22

        home_teams      away_teams
0            qatar         ecuador
1          senegal     netherlands
2          england            iran
3              usa           wales
4           france       australia
5          denmark         tunisia
6           mexico          poland
7        argentina    saudi arabia
8          belgium          canada
9            spain      costa rica
10         germany           japan
11         morocco         croatia
12     switzerland        cameroon
13         uruguay  korea republic
14        portugal           ghana
15          brazil          serbia
16           wales            iran
17           qatar         senegal
18     netherlands         ecuador
19         england             usa
20         tunisia       australia
21          poland    saudi arabia
22          france         denmark
23       argentina          mexico
24           japan      costa rica
25         belgium         morocco
26         croatia          canada
27           spain         germany
28        cameroon          serbia
29  korea republic           ghana
30          brazil     switzerland
31        portugal         uruguay
32           wales         england
33            iran             usa
34         ecuador         senegal
35     netherlands           qatar
36       australia         denmark
37         tunisia          france
38          poland       argentina
39    saudi arabia          mexico
40         croatia         belgium
41          canada         morocco
42           japan           spain
43      costa rica         germany
44           ghana         uruguay
45  korea republic        portugal
46          serbia     switzerland
47        cameroon          brazil

In [91]:
df_home = df_teams_avg.copy()
df_away = df_teams_avg.copy()

In [92]:
df_home = df_home.rename(columns={'Team': 'home_teams'})
df_away = df_away.rename(columns={'Team': 'away_teams'})

In [93]:
games_22 = games_22.merge(df_home, how='left', on='home_teams')
games_22 = games_22.merge(df_away, how='left', on='away_teams')

In [94]:
games_22

        home_teams      away_teams  avg_points_x  avg_points_y
0            qatar         ecuador      1559.945      1648.695
1          senegal     netherlands      1635.690      1867.255
2          england            iran      1824.235      1690.805
3              usa           wales      1712.740      1679.910
4           france       australia      1882.390      1603.860
5          denmark         tunisia      1818.785      1597.270
6           mexico          poland      1732.945      1678.795
7        argentina    saudi arabia      1957.440      1538.890
8          belgium          canada      1920.855      1620.000
9            spain      costa rica      1880.110      1623.295
10         germany           japan      1805.105      1678.770
11         morocco         croatia      1658.250      1783.820
12     switzerland        cameroon      1782.460      1540.220
13         uruguay  korea republic      1787.355      1658.150
14        portugal           ghana      1840.280      1466.500
15          brazil          serbia      2005.150      1727.810
16           wales            iran      1679.910      1690.805
17           qatar         senegal      1559.945      1635.690
18     netherlands         ecuador      1867.255      1648.695
19         england             usa      1824.235      1712.740
20         tunisia       australia      1597.270      1603.860
21          poland    saudi arabia      1678.795      1538.890
22          france         denmark      1882.390      1818.785
23       argentina          mexico      1957.440      1732.945
24           japan      costa rica      1678.770      1623.295
25         belgium         morocco      1920.855      1658.250
26         croatia          canada      1783.820      1620.000
27           spain         germany      1880.110      1805.105
28        cameroon          serbia      1540.220      1727.810
29  korea republic           ghana      1658.150      1466.500
30          brazil     switzerland      2005.150      1782.460
31        portugal         uruguay      1840.280      1787.355
32           wales         england      1679.910      1824.235
33            iran             usa      1690.805      1712.740
34         ecuador         senegal      1648.695      1635.690
35     netherlands           qatar      1867.255      1559.945
36       australia         denmark      1603.860      1818.785
37         tunisia          france      1597.270      1882.390
38          poland       argentina      1678.795      1957.440
39    saudi arabia          mexico      1538.890      1732.945
40         croatia         belgium      1783.820      1920.855
41          canada         morocco      1620.000      1658.250
42           japan           spain      1678.770      1880.110
43      costa rica         germany      1623.295      1805.105
44           ghana         uruguay      1466.500      1787.355
45  korea republic        portugal      1658.150      1840.280
46          serbia     switzerland      1727.810      1782.460
47        cameroon          brazil      1540.220      2005.150

In [95]:
prediction_games = games_22[['avg_points_x', 'avg_points_y']]

In [125]:
games_predicted = pd.read_csv('world_cup_predictions.csv')

In [126]:
games_predicted

    home_goals  away_goals
0            1           1
1            0           1
2            2           1
3            0           0
4            2           1
5            2           1
6            0           1
7            2           1
8            2           1
9            2           1
10           2           1
11           0           1
12           1           0
13           1           1
14           2           0
15           2           0
16           0           1
17           0           1
18           2           1
19           0           1
20           0           1
21           2           0
22           0           0
23           1           0
24           0           1
25           2           0
26           2           0
27           2           0
28           0           1
29           2           0
30           2           0
31           0           0
32           0           1
33           0           1
34           1           1
35           2           0
36           0           1
37           0           1
38           0           1
39           0           1
40           0           1
41           0           1
42           0           1
43           0           1
44           0           1
45           0           1
46           0           1
47           0           1

In [128]:
final_results = games_22.join([games_predicted])

In [129]:
final_results

,home_teams,away_teams,avg_points_x,avg_points_y,home_goals,away_goals
0,qatar,ecuador,1559.945,1648.695,1,1
1,senegal,netherlands,1635.690,1867.255,0,1
2,england,iran,1824.235,1690.805,2,1
3,usa,wales,1712.740,1679.910,0,0
4,france,australia,1882.390,1603.860,2,1
5,denmark,tunisia,1818.785,1597.270,2,1
6,mexico,poland,1732.945,1678.795,0,1
7,argentina,saudi arabia,1957.440,1538.890,2,1
8,belgium,canada,1920.855,1620.000,2,1
9,spain,costa rica,1880.110,1623.295,2,1
10,germany,japan,1805.105,1678.770,2,1
11,morocco,croatia,1658.250,1783.820,0,1
12,switzerland,cameroon,1782.460,1540.220,1,0
13,uruguay,korea republic,1787.355,1658.150,1,1
14,portugal,ghana,1840.280,1466.500,2,0
15,brazil,serbia,2005.150,1727.810,2,0
16,wales,iran,1679.910,1690.805,0,1
17,qatar,senegal,1559.945,1635.690,0,1
18,netherlands,ecuador,1867.255,1648.695,2,1
19,england,usa,1824.235,1712.740,0,1
20,tunisia,australia,1597.270,1603.860,0,1
21,poland,saudi arabia,1678.795,1538.890,2,0
22,france,denmark,1882.390,1818.785,0,0
23,argentina,mexico,1957.440,1732.945,1,0
24,japan,costa rica,1678.770,1623.295,0,1
25,belgium,morocco,1920.855,1658.250,2,0
26,croatia,canada,1783.820,1620.000,2,0
27,spain,germany,1880.110,1805.105,2,0
28,cameroon,serbia,1540.220,1727.810,0,1
29,korea republic,ghana,1658.150,1466.500,2,0
30,brazil,switzerland,2005.150,1782.460,2,0
31,portugal,uruguay,1840.280,1787.355,0,0
32,wales,england,1679.910,1824.235,0,1
33,iran,usa,1690.805,1712.740,0,1
34,ecuador,senegal,1648.695,1635.690,1,1
35,netherlands,qatar,1867.255,1559.945,2,0
36,australia,denmark,1603.860,1818.785,0,1
37,tunisia,france,1597.270,1882.390,0,1
38,poland,argentina,1678.795,1957.440,0,1
39,saudi arabia,mexico,1538.890,1732.945,0,1
40,croatia,belgium,1783.820,1920.855,0,1
41,canada,morocco,1620.000,1658.250,0,1
42,japan,spain,1678.770,1880.110,0,1
43,costa rica,germany,1623.295,1805.105,0,1
44,ghana,uruguay,1466.500,1787.355,0,1
45,korea republic,portugal,1658.150,1840.280,0,1
46,serbia,switzerland,1727.810,1782.460,0,1
47,cameroon,brazil,1540.220,2005.150,0,1